name: cd
on:
  workflow_run:
    workflows:
      - ci
    types:
      - completed
env:
  QUAY_REPO: packet/mmlb-test-gha-pushes
jobs:
  upload:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-20.04
    steps:
      - name: Dump context
        uses: crazy-max/ghaction-dump-context@v1

        # from https://securitylab.github.com/research/github-actions-preventing-pwn-requests
        # until https://github.com/actions/download-artifact/issues/60 is closed
      - name: Download artifact
        uses: actions/github-script@v3.1.0
        with:
          script: |
            var artifacts = await github.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: ${{github.event.workflow_run.id}},
            });
            var matchArtifact = artifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "images"
            })[0];
            var download = await github.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            var fs = require('fs');
            fs.writeFileSync('${{github.workspace}}/images.zip', Buffer.from(download.data));

      - name: Load Images Into Docker
        run: |
          unzip images.zip
          for image in *.tar; do
            docker load <$image
          done

      - name: Login to Quay
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{secrets.REPO_USERNAME}}
          password: ${{secrets.REPO_PASSWORD}}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Push Images and Manifest
        env:
          QUAY_API_TOKEN: ${{secrets.QUAY_API_TOKEN}}
        run: ./.github/workflows/push.sh "${{github.event.workflow_run.head_sha}}" "${{github.event.workflow_run.event}}" "${{github.event.workflow_run.pull_requests[0].number}}"
